<div class="counter" style="@(BorderColor is not null ? $"--border-color: {BorderColor}" : string.Empty)">
    <p role="status">Current count: @CurrentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [CascadingParameter]
    public string? BorderColor { get; set; }

    [Parameter]
    public int CurrentCount { get; set; }

    [Parameter]
    public EventCallback<int> CurrentCountChanged { get; set; }

    private async Task IncrementCount()
    {
        await CurrentCountChanged.InvokeAsync(++CurrentCount);
    }
}