@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter @bind-CurrentCount="currentCount">
    <Counter></Counter>
</Counter>

<CascadingValue Value="borderColour">
    <Counter @bind-CurrentCount="currentCount">
        <Counter>
            <Counter></Counter>
        </Counter>
    </Counter>
</CascadingValue>

<input @bind-value="currentCount" />

@code{
    private int currentCount;

    private string? borderColour;

    protected override void OnInitialized()
    {
        currentCount = 10;
        borderColour = "pink";
    }
}